/* E stilo para toda la web */
*{
    margin: 0;  /*Quitar margenes por defecto */
    padding: 0; /*Espacio interno del elemento */
}


/* estilo header */
.header {
    background: #000000; /* Color de fondo en hexadecimal */
    color : rgb(250, 250, 250);
    padding: 16px 24px;
    display: flex; /*Logo y menu en fila */
    justify-content: space-between; /*Hace una separación entre los elementos unos a la izquierda y otros a la derecha */
    align-items: center; /*Elementos en fila */
}

/*Estilo titulo web*/
.nombre{
    font-size: 30px;  /*Tamaño en pixeles */
}

/*Enlaces de navegación */
.links{
color: white;
text-decoration: none; /*Quita subrayado */
margin-left: 12px; /*Espacio entre links */
opacity: 0.85; /*Opacidad del link */
font-size: 18px;
}

.links:hover{
    opacity: 1;
    background-color: rgb(90, 86, 86);
    border-radius: 5px;
    padding: 10px;
}